body{
  background-color: #67B3E4;

}
hr{
  width: 5%;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
}
h1{
  color: #BDF2D5;
}
h2{
  color: #BDF2D5;
}
 
